<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349481760613-lvvjf4p0bgtniq7eajcn5kpt04hfeop5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349481760613-lvvjf4p0bgtniq7eajcn5kpt04hfeop5</string>
	<key>API_KEY</key>
	<string>AIzaSyC770_xEC9KOZMfimrtnYtJkb0sXhDnmq8</string>
	<key>GCM_SENDER_ID</key>
	<string>349481760613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atom.EolasReact</string>
	<key>PROJECT_ID</key>
	<string>eolasinternational-86570</string>
	<key>STORAGE_BUCKET</key>
	<string>eolasinternational-86570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349481760613:ios:8087aec40693fef8</string>
	<key>DATABASE_URL</key>
	<string>https://eolasinternational-86570.firebaseio.com</string>
</dict>
</plist>